:root {
  --screen-width: 1440; // по умолчанию для десктопа
}

@media (max-width: 1024px) {
  :root {
    --screen-width: 1024; // для планшета
  }
}

// 670 ????? 
@media (max-width: 670px) {
  :root {
    --screen-width: 375 ; // для мобильных
  }
}
// @media (max-width: 375px) {
//   :root {
//     --screen-width: 375; // для мобильных
//   }
// }

@function scale($px) {
  @return calc(#{$px}/var(--screen-width)*100vw);
}