$gray-900: rgba(30, 33, 44, 1);
$gray-800: #424551;
$gray-700: #787A80;
$gray-300: rgba(229, 232, 237, 1);

$white: #ffffff;
$green: #03CEA4;
$red: #FF4242;
$blue: #5A87FC;
$orange: #F89828;
$pink: #F52F6E;
$purple: #7772F1;