@import "./_base";
@import "./_functions";
@import "./_variable";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: $white;
}

.container {
  width: 100%;
  max-width: scale(1230);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: scale(44);
  gap: scale(8);

  &Title {
    font-size: scale(46);
    font-weight: 700;
    letter-spacing: scale(1);
    color: $gray-900;
    line-height: 1.3;

    &Sub {
      font-weight: 900;
      color: $gray-900;
      line-height: 1.5;
      text-transform: uppercase;
      font-size: scale(16);
    }
  }

}

.list {
  margin-top: scale(60);
  display: flex;
  gap: scale(30);
  flex-wrap: wrap;

  &Card {
    width: scale(390);
    height: scale(438);
    border-radius: scale(4);
    display: flex;
    flex-direction: column;
    border: scale(1) solid $gray-300;
    box-shadow: scale(0) scale(4) scale(4) scale(-4) rgba(30, 33, 44, 0.03),
      scale(0) scale(12) scale(10)scale(-6) rgba(154, 156, 165, 0.04),
      scale(0) scale(30) scale(24) scale(-10) rgba(154, 156, 165, 0.05),
      scale(0) scale(80) scale(80) scale(-20) rgba(154, 156, 165, 0.08);

    &Image {
      width: 100%;
      height: scale(240);
    }

    &Content {
      padding: scale(24);
      display: flex;
      flex-direction: column;
      gap: scale(20);

      &Tag {
        background-color: $green;
        padding: 0px scale(8);
        height: scale(23);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: scale(4);
        width: fit-content;

        &Text {
          font-weight: 400;
          font-size: scale(14);
          line-height: 1.5;
          color: $white;
        }
      }

      &Title {
        color: $gray-900;
        font-weight: 700;
        line-height: 1.5;
        font-size: scale(20);
      }

      &Info {
        display: flex;
        align-items: center;
        gap: scale(8);

        &Price {
          font-weight: 700;
          font-size: scale(18);
          line-height: 1.5;
          color: $red;
        }

        &Author {
          font-weight: 400;
          font-size: scale(18);
          line-height: 1.5;
          color: $gray-700;
        }
      }
    }
  }
}

.stick {
  width: scale(1);
  height: scale(16);
  background-color: $gray-700;
}

.marketing {
  background-color: $green;
}

.management {
  background-color: $blue;
}

.recruting {
  background-color: $orange;
}

.design {
  background-color: $pink;

}

.development {
  background-color: $purple;
}