@import "./_base";
@import "./_functions";
@import "./_variable";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: $white;
  position: relative;

}

.container {
  width: 100%;
  max-width: scale(1230);

  div {
    z-index: 2;
  }

  @media screen and (max-width: 670px) {
    padding: 0px scale(15);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: scale(44);
  gap: scale(8);

  @media screen and (max-width: 670px) {
    margin-top: scale(20);
    gap: scale(4);
  }

  &Title {
    font-size: scale(46);
    font-weight: 700;
    letter-spacing: scale(1);
    color: $gray-900;
    line-height: 1.3;

    @media screen and (max-width: 670px) {
      font-size: scale(26);
    }

    &Sub {
      font-weight: 900;
      color: $gray-900;
      line-height: 1.5;
      text-transform: uppercase;
      font-size: scale(16);

      @media screen and (max-width: 670px) {
        font-size: scale(10);
      }
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: scale(12);
  margin-top: scale(85);

  @media screen and (max-width: 670px) {
    gap: scale(10);
    margin-top: scale(40);
    flex-wrap: wrap;
  }

  &Items {
    display: flex;
    align-items: center;
    gap: scale(12);

    @media screen and (max-width: 670px) {
      gap: scale(6);
      flex-wrap: wrap;
    }
  }

  &Item {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    border: scale(1) solid transparent;
    gap: scale(4);
    border-radius: scale(4);
    padding: scale(10) scale(20);
    transition: 230ms ease-in-out border-color;

    @media screen and (max-width: 670px) {
      padding: scale(6) scale(15);
    }

    &:hover {
      border-color: $primary;
    }

    &:hover {

      .filterItemText,
      .filterItemIndex {
        color: $primary;
      }
    }

    &Active {
      border-color: $primary;
    }

    &Active .filterItemText,
    &Active .filterItemIndex {
      color: $primary;
    }

    &Text {
      font-weight: 700;
      font-size: scale(16);
      line-height: 1.6;
      color: $gray-600;
      cursor: pointer;
      transition: 230ms ease-in-out color;

      @media screen and (max-width: 670px) {
        font-size: scale(14);
      }
    }

    &Index {
      color: $gray-600;
      font-weight: 900;
      font-size: scale(10);
      line-height: 1.5;
      cursor: pointer;
      transition: 230ms ease-in-out color;

      @media screen and (max-width: 670px) {
        font-size: scale(9);
      }
    }
  }

  &Input {
    cursor: pointer;
    width: scale(315);
    padding: scale(12) scale(16);
    border: scale(1) solid $gray-400;
    border-radius: scale(4);

    font-weight: 400;
    font-size: scale(14);
    line-height: 1.5;
    color: $gray-600;

    @media screen and (max-width: 670px) {
      width: 100%;
      padding: scale(10) scale(14);
      font-size: scale(13);
    }
  }
}

.list {
  margin-top: scale(60);
  display: flex;
  gap: scale(30);
  flex-wrap: wrap;

  @media screen and (max-width: 670px) {
    margin-top: scale(30);
    gap: scale(15);
  }

  &Card {
    width: scale(390);
    height: scale(438);
    border-radius: scale(4);
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: scale(1) solid $gray-300;
    box-shadow: scale(0) scale(4) scale(4) scale(-4) rgba(30, 33, 44, 0.03),
      scale(0) scale(12) scale(10)scale(-6) rgba(154, 156, 165, 0.04),
      scale(0) scale(30) scale(24) scale(-10) rgba(154, 156, 165, 0.05),
      scale(0) scale(80) scale(80) scale(-20) rgba(154, 156, 165, 0.08);

    @media screen and (max-width: 670px) {
      width: 100%;
      height: auto;
    }

    &Image {
      width: 100%;
      height: scale(240);

      @media screen and (max-width: 670px) {
        height: scale(200);
      }
    }

    &Content {
      padding: scale(24);
      display: flex;
      flex-direction: column;
      gap: scale(20);

      @media screen and (max-width: 670px) {
        padding: scale(16);
        gap: scale(15);
      }

      &Tag {
        background-color: $green;
        padding: 0px scale(8);
        height: scale(23);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: scale(4);
        width: fit-content;

        @media screen and (max-width: 670px) {
          height: scale(22);
        }

        &Text {
          font-weight: 400;
          font-size: scale(14);
          line-height: 1.5;
          color: $white;

          @media screen and (max-width: 670px) {
            font-size: scale(13);
          }
        }
      }

      &Title {
        color: $gray-900;
        font-weight: 700;
        line-height: 1.5;
        font-size: scale(20);

        @media screen and (max-width: 670px) {
          font-size: scale(16);
        }
      }

      &Info {
        display: flex;
        align-items: center;
        gap: scale(8);

        @media screen and (max-width: 670px) {
          gap: scale(5);
        }

        &Price {
          font-weight: 700;
          font-size: scale(18);
          line-height: 1.5;
          color: $red;

          @media screen and (max-width: 670px) {
            font-size: scale(14);
          }
        }

        &Author {
          font-weight: 400;
          font-size: scale(18);
          line-height: 1.5;
          color: $gray-700;

          @media screen and (max-width: 670px) {
            font-size: scale(14);
          }
        }
      }
    }
  }
}

.more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: scale(70) 0px;

  @media screen and (max-width: 670px) {
    margin: scale(35) 0px;
  }

  &Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: scale(10);
    gap: scale(16);
    background-color: transparent;
    border: none;
    outline: none;
    transition: 230ms ease-in-out;
    cursor: pointer;

    @media screen and (max-width: 670px) {
      padding: scale(8);
      gap: scale(14);
    }

    &:hover {
      opacity: .7;
    }

    &Image {
      width: scale(24);
      height: scale(24);

      @media screen and (max-width: 670px) {
        width: scale(18);
        height: scale(18);
      }
    }

    &Text {
      font-weight: 700;
      font-size: scale(16);
      line-height: 1.6;
      cursor: pointer;
      color: $gray-800;

      @media screen and (max-width: 670px) {
        font-size: scale(14);
      }
    }
  }
}

.stick {
  width: scale(1);
  height: scale(16);
  background-color: $gray-700;

  @media screen and (max-width: 670px) {
    height: scale(10);
  }
}

.marketing {
  background-color: $green;
}

.management {
  background-color: $blue;
}

.recruting {
  background-color: $orange;
}

.design {
  background-color: $pink;

}

.development {
  background-color: $purple;
}

.attribute {
  position: absolute;
  z-index: 1;

  &Dots {
    height: scale(143);
    width: scale(105);
    right: 0px;
    top: scale(50);

    @media screen and (max-width: 670px) {
      height: scale(86);
      width: scale(60);
    }
  }

  &Hemisphere {
    height: scale(44);
    width: scale(83);
    left: scale(56);
    top: scale(687);

    @media screen and (max-width: 670px) {
      height: scale(28);
      width: scale(38);
      left: 0px;
      top: scale(1330);
    }
  }

  &Arrow {
    height: scale(85);
    width: scale(85);
    right: scale(72);
    top: scale(1104);

    @media screen and (max-width: 670px) {
      height: scale(42);
      width: scale(42);
      right: scale(36);
      top: auto;
      bottom: scale(50);
    }
  }
}